html {
  font-size: 16px;

}

/*===========Grid Styles & Layout========*/

.container{
  margin: 0;
  background-color:	#19637f;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:150px 1fr .125fr .133fr .145fr ;
  grid-template-areas: "header" "portfolio" "about" "skills" "footer";
}

header {
  background-color: 	#bfb89c;
  grid-area: header;
  align-self: end;
}
.portfolio{
  background-color: #19637f;
  color: #f2f2f2;
  grid-area: portfolio;
}
.about {
  background-color: #19637f	;
  color: #cccccc;
  grid-area: about;
}
.skills{
  background-color: 	#cbc8b4;
  grid-area: skills;
}
footer {
  background-color: 	#bfb89c;
  grid-area: footer;
}
.copyright {
  background-color: 	#bfb89c;
  grid-area: copyright;
}
/*===================Content-Styles==================*/

body {
  font-size: 1em;
  font-family:'Opens Sans', sans-serif;
  text-align: center;
}
ul{
  list-style-type: none;
}
li a {
  text-decoration: none;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875em;
  font-weight: 700;
  text-align: center;
}
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125em;
  margin: 20px 0;
  font-weight: 500;
}
p {
  font-size: .875em;
  line-height: 1.285;
}
figure {
  margin: 0;
}
address {
font-style: normal;
}

/*===============Header & NavBar==========*/
header {
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
}
header .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}
header h1{
  padding:5px 20px;
  font-size: 1.25em;
}
header nav{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
 padding: 5px 15px;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
 width:100%;
}
header nav ul li {
  font-size: 1.125em;
  padding-right: 20px;
}
header nav li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav li a{
  color: black;
}

/*=============Portfolio Section===============*/

.project {
  margin: 50px auto;
  padding: 10px 15px;
  border-bottom: #144f65 solid 5px;
}
.project figure {
  padding: 50px;
}
.portfolio img {
  width: 100%;
  height: 50%;
}
.portfolio figcaption a {
  text-decoration: none;
  color: #f2f2f2;
}

/*================About Me Section=================*/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 25px auto;
  color:  #f2f2f2;
}
.about img {
  width: 25%;
  border-radius: 100%;
  margin: 15px 30px;
}
.about p {
  font-size: 1em;
  margin: 15px 10px;
  padding: 20px 35px;
}

/*================Developer Skills===============*/

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.skills p {
  font-size: 1.8em;  
  padding: 40px auto;
}

/*===================Footer Section=================*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
footer a {
  color: black;
}

footer .comtact {
  margin-bottom: 50px;
}
/*Social Media*/
footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.social i{
background: #144f65;
border-radius: 100%;
border: 20px solid #144f65;
width: 10px;
height: 10px;
}

/*Copyright*/
footer .copyright {
  margin: 20px 0;
}



/*===================Tablet Media Queries and Stlyes====================*/
@media only screen and (min-width: 768px) {

 /*Base Styles*/
.conatiner {
  max-width: 640px;
  margin: 100px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 
    "header header header header" 
    "skills portfolio portfolio portfolio" 
    "skills portfolio portfolio portfolio" 
    "skills about about about" 
    "skills about about about"   
    "footer footer footer footer";
}

h2 {
  font-size: 2.25em;
  line-height: 1.333;
}
h3 {
  font-size: 1.5em;
  line-height: 1.25;
}

/*Header*/
header {
  justify-content: space-around;
  padding: 33px 0;
}
header .content-wrapper {
    width: 100%;
    justify-content: space-between;
}
header h1{
  width: 100%;
}
header nav {
    width: 40%;
    margin: 10px 15px;
}
header nav ul {
  justify-content: space-between;
}
.header-divider {
    display: none;
}

/*Portfolio*/
.portfolio-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-area:
   "unplugged cat"
   "map picking";
   padding: 0 40px;
}
.unplugged{
  grid-area: unplugged;
  grid-column: 1/2;
  grid-row: 1/2;
}
.cat{
  grid-area: cat;
  grid-column: 2/-1;
  grid-row: 1/2;
}
.map {
  grid-area: map;
  grid-column: 1/2;
  grid-row:2/-1
}
.picking {
  grid-area: picking;
  grid-column: 2/-1;
  grid-row: 2/-1;
}
.portfolio img {
  width: 60%;
}
/*About*/
.about img {
  margin: 25px;
  padding: 0 40px;
}
.about p {
  text-indent: 20px;
  text-align: left;
  display: flex;
  justify-content: left;
  padding: 10px 50px;
  line-height: 2.25em;
  font-size: 1.125em;
}

/*Skills*/
 
.skills  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
 flex-basis: 80%;
}

/*Footer*/
footer{
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 250px 60px;
  grid-area:
   "contact social"
   "copyright copyright";

}
footer .contact {
  grid-area: contact;
  grid-column: 1/2;
  grid-row: 1/2;
}
footer .social {
  grid-area: socail;
  grid-column: 2/-1;  
  grid-row: 1/2;
}
footer .copyright {
  grid-area: copyright;
  grid-column: 1/-1;
  grid-row: 2/-1;
}
footer .content-wrapper {
  width: 65%;
  margin: 100px 0;
}

footer h4 {
  font-size: 1.5em;
  margin-bottom: 40px;
}

}


/*=============================Desktop Styles=============================*/

@media only screen and (min-width: 1200px) {
/*=======Base Style and Grid======*/

.conatiner {
  max-width: 960px;
  margin: 100px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 
    "header header header header" 
    "skills portfolio portfolio portfolio" 
    "skills portfolio portfolio portfolio" 
    "skills about about about" 
    "skills about about about"   
    "footer footer footer footer";
}

/*About*/

.about img {
  width: 15%;
}

/*Skills*/

.skills-items {
  font-size: 2em;
  display: grid;
  grid-template-columns: 260px 260px 1fr;
  grid-template-rows: 200px 200px;
  grid-area: 
  "html css jscript"
  "react github"
}
.html{
  grid-area: html;
  grid-column: 1/2;
  grid-row: 1/2;
}
.css {
  grid-area: css;
  grid-column: 2/3;
  grid-row: 1/2;
}
.jscript {
  grid-area: jscript;
  grid-column: 3/-1;
  grid-row: 1/2;
}
 .react {
  grid-area: react;
  grid-column: 1/2;
  grid-row: 2/-1;
}
.github {
  grid-area: github;
  grid-column:2/3;
  grid-row: 2/-1;
}
}