html {
  font-size: 16px;

}

/*===========Grid Styles & Layout========*/

.container{
  margin: 0;
  background-color:	#19637f;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5 1fr);
  grid-template-areas: "header" "portfolio" "about" "skills" "footer";
}

header {
  background-color: 	#bfb89c;
  grid-area: header;
  align-self: end;
}
.portfolio{
  background-color: #19637f;
  color: #f2f2f2;
  grid-area: portfolio;
}
.about {
  background-color: #19637f	;
  color: #cccccc;
  grid-area: about;
}
.skills{
  background-color: 	#cbc8b4;
  grid-area: skills;
}
footer {
  background-color: 	#bfb89c;
  grid-area: footer;
}
.copyright {
  background-color: 	#bfb89c;
  grid-area: copyright;
}
/*===================Content-Styles==================*/

body {
  font-size: 1em;
  font-family:'Opens Sans', sans-serif;
  text-align: left;
}
ul{
  list-style-type: none;
}
li a {
  text-decoration: none;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875em;
  font-weight: 700;
  text-align: center;
}
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125em;
  margin: 20px 0;
  font-weight: 500;
}
p {
  font-size: .875em;
  line-height: 1.285;
}
figure {
  margin: 0;
}
address {
font-style: normal;
}

/*===============Header & NavBar==========*/
header {
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
}
header .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}
header h1{
  padding:5px 20px;
  font-size: 1.25em;
}
header nav{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
 padding: 5px 15px;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
 width:100%;
}
header nav ul li {
  font-size: 1.125em;
  padding-right: 20px;
}
header nav li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav li a{
  color: black;
}

/*=============Portfolio Section===============*/

.project {
  margin: 50px auto;
  padding: 10px 15px;
  border-bottom: #144f65 solid 5px;
}
.project figure {
  padding: 50px;
}
.portfolio img {
  width: 100%;
  height: 50%;
}
.portfolio figcaption a {
  text-decoration: none;
  color: #f2f2f2;
}

/*================About Me Section=================*/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 25px auto;
  color:  #f2f2f2;
}
.about img {
  width: 25%;
  border-radius: 100%;
  margin: 15px 30px;
}
.about p {
  font-size: 1em;
  margin: 15px 10px;
  padding: 20px 35px;
}

/*================Developer Skills===============*/

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.skills p {
  font-size: 1.8em;  
  padding: 40px auto;
}

/*===================Footer Section=================*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
footer a {
  color: black;
}

footer .comtact {
  margin-bottom: 50px;
}
/*Social Media*/
footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.social i{
background: #144f65;
border-radius: 100%;
border: 20px solid #144f65;
width: 10px;
height: 10px;
}

/*Copyright*/
footer .copyright {
  margin: 20px 0;
}



/*===================Tablet Media Queries and Stlyes====================*/

@media screen {
  
}