html {
  font-size: 16px;
}

/*===========Grid Styles & Layout========*/

.container{
  width: 100vw;display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6 1fr);
  grid-template-areas: "header" "portfolio" "about" "skills" "footer" "copyright";
}

header {
  grid-area: header;
}
.portfolio{
  grid-area: portfolio;
}
.about {
  grid-area: about;
}
.skills{
  grid-area: skills;
}
footer {
  grid-area: footer;
}
.copyright {
  grid-area: copyright;
}
/*===================Content-Styles==================*/

body {
  font-size: 1em;
  font-family:'Opens Sans', sans-serif;
  text-align: left;
  color: grey;
  background: #e2b8c1;
}
ul{
  list-style-type: none;
}
a {
  color: gray;
  text-decoration: none;
}
h1{
  font-family: Montserrat;
  font-size: 1.5em;
}
img{
  width: 50%;
  height:50%;
}